mixin navlinks(id, week, dates)
  button.weeknav.col-xs-12.col-sm-8.col-md-4(class="week#{week}" onclick="location.href='/rugby/index.php?weekNumber=#{id}'") <div class="weektitle">W#{week}</div><div class="date">#{dates}</div>
    
mixin nav(page)
  nav(class="navbar navbar-default")
    .container
      .navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") ERSU Rugby Scoring
        
      .navbar-collapse.collapse
        ul(class="nav navbar-nav")
          li(class=page=="draw" ? "draw active" : "draw")
            a(href="index.php") Draw/Results
          li(class=page=="live" ? "live active" : "live")
            a(href="livescore.php") Live Score
          li(class=page=="end" ? "end active" : "end")
            a(href="endgame.php") End Game Score